#box
    .minibox
        width: 150px
        height: 150px
        border: 2px solid
        background-color: #475b19
        margin: 8px
    .miniboxx
        width: 150px
        height: 150px
        border: 2px solid
        background-color: #475b19
        position: absolute
        top: 84px
        left: 36cm
    .miniboox
        width: 150px
        height: 150px
        border: 2px solid
        background-color: #475b19
        position: absolute
        top: 84px
        left: 36cm